{% extends 'base.html.twig' %}
{% block title %} Registration {% endblock %}
{% block body %} 
    <div class="container">
        <h1>Registration Page</h1>
        {% for notice in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{notice}}</div>
        {% endfor %}
        {{ form(form) }}
    </div>
{% endblock %}