{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

   {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}"  class="btn btn-success" role="button" >back to list</a>
{% endblock %}
